.firstpagewrapper{
  position: relative;
  width:100%;
  height:100%;  
}

#ground{
  position: fixed;
  width: 100%;
  height: 165px;
  bottom: 0;   
  background-image: url("../pics/siteuse/floor.png");
  z-index: 3;    
}

#megaman{
  position: fixed;
  bottom:145px;
  left: 50px;
  z-index: 4;    
}