@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);
@import url(https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps);
@import url(https://fonts.googleapis.com/css?family=Crete+Round);

body{
    background-color: #0F7A94;
    margin: 0;
    padding: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.headerWrapper{
    width: 100%;
    color: #41C0C4;
    background-color: #164B65; 
    
    display:-webkit-inline-box;
    display:-webkit-inline-flex;
    display:-ms-inline-flexbox;
    display:inline-flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align:end;
    -webkit-align-items:flex-end;
        -ms-flex-align:end;
            align-items:flex-end;
}

.headerWrapper > section{
    padding: 15px;    
}

.headerWrapper h1{
    color: white;
    font-family: 'Oleo Script Swash Caps', cursive;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.headerWrapper h2{
    margin: 0;
    padding: 0;
    font-family: 'Crete Round', serif;
    font-size: 20px;
}

#contactsWRapper{
    padding: 15px;
    padding-left: 5px;
    font-weight: bold;
    font-size:18px;
}

#contactsWRapper > a{
    text-decoration: none; 
    color:cornsilk;
}

#realHeader{
    position: fixed;
    z-index: 3;
}

#afterHeader{
    position: relative;
    top:0px;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

#about{
    padding-top: 20px;
    position: relative;
    text-align: center;
    padding-bottom: 30px;
    background-color: white;
    
}

#me{
    width: 100px;
    border-radius: 50%;
}

#about article{
    text-align:left;
    position: relative;
    width: 90%;
    left: 5%;
    font-size: 16px;
}

#resume{
    color: #088A85;
}

.sectionTitle{
    margin-top: 10px;
    font-size: 28px;
    color:cornsilk;
}

#projects{
    background-color: #41C0C4;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    width: 100%;
}

#projectsContainer{
    position: relative;
    width: 90%;
    left: 5%;
    
    display: -webkit-box;
    
    display: -webkit-flex;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content:space-around;
        -ms-flex-pack:distribute;
            justify-content:space-around;
    -webkit-align-content:center;
        -ms-flex-line-pack:center;
            align-content:center;
}

.projectBox{
    max-width: 100%;
    width: 360px;
    position: relative;
    margin: 20px 5px 20px 5px;
    overflow: hidden;
    border-radius: 10px;
}

.displayName{  
    position: absolute;
    width: 100%;
    height: 100%;    
    background: rgba(0,0,0,0.7);
    color: white;
    font-size: 24px;
    font-family: 'Crete Round', serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 2;
    
}

.projectBox:hover > .displayName{
    visibility: hidden;
    -webkit-transition: ease-in-out, all 0.1s ease-in-out;
            transition: ease-in-out, all 0.1s ease-in-out;
}

.projectBox:focus > .displayName{
    visibility: hidden;
    -webkit-transition: ease-in-out, all 0.1s ease-in-out;
            transition: ease-in-out, all 0.1s ease-in-out;
}

.imgBox{
   max-width: 100%;
    width: 360px;
    -webkit-filter: blur(2px);
            filter: blur(2px);
}

.projectBox:hover > .imgBox{
    -webkit-filter: none;
            filter: none;
}

.projectBox:focus > .imgBox{
    -webkit-filter: none;
            filter: none;
}

.articleBoxWrapper{
    width: 100%;
    background-color: #164B65;
    position: absolute;
    bottom: -500px;    
}

.projectBox:hover > .articleBoxWrapper{
    -webkit-transition: ease-in-out, all 0.7s ease-in-out;
            transition: ease-in-out, all 0.7s ease-in-out;
    bottom: 0px;
}

.projectBox:focus > .articleBoxWrapper{
    -webkit-transition: ease-in-out, all 0.7s ease-in-out;
            transition: ease-in-out, all 0.7s ease-in-out;
    bottom: 0px;
}

.articleBox{
 position: relative;
    width: 94%;
    left: 3%;
    font-size: 16px;
}

.articleBox > h4{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Crete Round', serif;
    font-size: 20px;
}

.articleBox > a{
    color: #18F093;
    text-decoration: none;
}

.articleBox > p{
    text-align: left;
}

#contacts{
    background-color: #0F7A94;
    padding-top: 15px;
    padding-bottom: 25px;
    color: white;
}

#contacts a{
    color: #164B65;
    text-decoration: none;
    margin: 20px 10px 20px 10px;
}

#WEBDEVELOPER{
    -webkit-transition: all .5s ease;
            transition: all .5s ease;
}

#WEBDEVELOPER.scrolled{
    font-size: 0px;
}

#EdwardLai{
    font-size: 24px;
    -webkit-transition: all .5s ease;
            transition: all .5s ease;
}

#EdwardLai.scrolled{
    font-size: 26px;
}