@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps);

body{
    background-image: url("IMG_4533.JPG");
    background-size: 100% auto;
    margin: 0;
    padding: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.headerWrapper{
    width: 100%;
    color: #0F7A94;
    background-color: #164B65; 
    padding: 15px;
    display:inline-flex;
    justify-content:space-between;
    align-items:flex-end;
}

.headerWrapper h1{
    color: white;
    font-family: 'Oleo Script Swash Caps', cursive;
    margin: 0;
    padding: 0;
}

.headerWrapper h2{
    margin: 0;
    padding: 0;
    font-family: 'Luckiest Guy', cursive;
}

#realHeader{

    position: fixed;
    z-index: 2;
}

#afterHeader{
    position: relative;
    top:100px;
    width: 100%;
    padding-top: 20px;
    font-weight: bold;
    text-align: center;
}

#about{
    position: relative;
    width: 90%;
    left: 5%;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
}

#me{
    width: 100px;
    border-radius: 50%;
}

#about article{
    text-align: justify;
    width: 100%;
}

#projects{
    background-color: #0F7A94;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}