<div class="aboutmediv">
  <div class="textpart">
      <div class="bigheader">
        <p>Edward Lai</p>
        <div class="linkedin">
          <img class="lw" src="./pics/siteuse/linkedin_w.png">    
          <a   class="lb" target="_blank"target="_blank" href="https://www.linkedin.com/in/edlai48">
            <img src="./pics/siteuse/linkedin.png">
          </a>  
        </div>
      </div>    
  
      <div class="notep">
        <h1>Currently Looking for an entry level position in the area of software/web development.</h1>
      </div>
      <hr>
      <p class="resumep">Resume (pdf)</p>
      <p class="emailp">email: </p>{{email}}
  </div>
  <div class="picpart">
    <img src="./pics/siteuse/withpete.jpg">   
  </div>    
</div>

<!--
<div class="pdfdiv">
<embed src="./pics/siteuse/resume_EDL.pdf" width="100%">
-->

</div>