<div class="aboutmediv">
  <div class="textpart">
      <div class="bigheader">
        <p>Edward Lai</p>
        <div class="linkedin">
          <img class="lw" src="./pics/siteuse/linkedin_w.png">    
          <a   class="lb" target="_blank"target="_blank" href="{{linkedinlink}}">
            <img src="./pics/siteuse/linkedin.png">
          </a>  
        </div>
      </div>    
  
      <div class="notep">
        <h1>Currently looking for an entry level position in the area of software/web development.</h1>
      </div>
      <hr>
      <p class="resumep" ng-click="">resume (pdf)</p>
      <p class="emailp">email: </p>{{email}}
  </div>
  <div class="picpart">
    <div class="gallery">
      <div class="gallerywindow" ng-repeat="image in gallery" ng-show="selected.value== $index">
        <img src="{{image.image}}">
        <p class="gallerydescription">{{image.description}}</p>    
      </div>
      <div class="gallerybar">
        <div class="buttonbound">    
          <div class="gallerybutton" ng-repeat="image in gallery" ng-click="selected.value= $index" ng-style="{ 'background-color' : (selected.value== $index) ? 'black' : 'grey' }">
        </div>     
        </div>          
      </div>    
    </div> 
    <!--<img src="./pics/siteuse/withpete.jpg">-->   
  </div>
<!--
<div class="sendmemail">
     <div class="maillh1wrapper">
     <p class="maillh1">SEND ME A MESSAGE</p>
     </div> 
     <hr>
     <form action="" method="post" enctype="text/plain">
    Name:<br>
    <input type="text" name="name" value="your name"><br>
    email:<br>
    <input type="text" name="mail" value="your email"><br>
    Message:<br>
    <input type="text" name="comment" value="your comment" size="50"><br><br>
    <input type="submit" value="Send">
    <input type="reset" value="Reset">
    </form>
    <div class="mailpadding"></div>   
</div>  
-->          
</div>

<div class="sendmemail" ng-style="{ 'background-color' : showform ? 'rgb(172,207,209)' : 'none' }">
       <div class="mailtop">
         <div class="maillh1wrapper" ng-click="showform=!showform">
           <p class="maillh1">send me a mail</p>
         </div> 
       </div>
       <hr>
       <img class="formtriangle" src="./pics/siteuse/up.png">
       
     <form action="" method="post" enctype="text/plain" ng-show="showform">
    Name:<br>
    <input type="text" name="name" value="your name"><br>
    email:<br>
    <input type="text" name="mail" value="your email"><br>
    Message:<br>
    <input type="text" name="message" value="your message" size="50"><br><br>
    <input type="submit" value="Send">
    <input type="reset" value="Reset">
    </form>
    <div class="mailpadding" ng-show="showform"></div>   
</div>  


<!--
<div class="pdfdiv">
<embed src="./pics/siteuse/resume_EDL.pdf" width="100%">
</div>
-->

