<div id="firstwrapper" ng-init="parallex()">
     <img id="cloud" src="./images/siteuse/cloud.png">
     <img id="west"  src="./images/siteuse/homer.png">
    <img id="square" src="./images/siteuse/StraightOuttaSomenone.png">
    <div id="wrapper101"><img id="taipei101" src="./images/siteuse/taipei101.png"></div>
    
</div>

<!--
<div class="firstpagewrapper">
   <div class="s">
    <div class="e1"></div>
    <div class="e2"></div>
    <div class="e3"></div>
    <div class="e4"></div>
    <div class="d1"></div>
    <div class="d2"></div>
    <div class="d3"></div>
    <div class="d4"></div>
    <div class="w1"></div>
    <div class="w2"></div>
    <div class="w3"></div>
    <div class="w4"></div>
    <div class="a1"></div>
    <div class="a2"></div>
    <div class="a3"></div>
    <div class="r1"></div>
    <div class="r2"></div>
    <div class="r3"></div>
    <div class="r4"></div>
    <div class="r5"></div>
    <div class="d21"></div>
    <div class="d22"></div>
    <div class="d23"></div>
    <div class="d24"></div>
  </div>
    
</div>
-->
<!--
 <div id="city"></div>
 <div id="wily">
   <img src="./pics/siteuse/wily.png">     
 </div>
 <img id="megaman" src="./pics/siteuse/megaman_run.gif">
<div id="ground"></div>  
-->