        <h1> Sample Project </h1>
        <div id="searchBar">
            <div id="showButton" >
                <div class="buttonBack" ng-class="{showForm: showForm}" ng-click="show()">
                    <div class="buttonLeft"  ng-class="{showForm: showForm}"></div>
                    <div class="buttonRight" ng-class="{showForm: showForm}"></div>    
                </div>  
            </div>
            <div id="searchFormWrapper" ng-show="showForm">
                <form id="searchForm" ng-submit="search()" >
                    <input type="text" id="inputText" placeholder="destination?" ng-autocomplete ng-model="address" options="options" details="details"/>
                    <button  type="submit" id="searchB">SEARCH</button>        
                </form>
                <div id="or">OR</div>
                <button id="searchByCurrent" ng-click="searchByCurrent()">
                    USE CURRENT LOCATION
                </button> 
            </div>    
        </div>