
 <div class="pt">
  <p id="ptp" flyaway>- PROJECTS -</p>    
    
</div>

<div class="allprojects">



<div class="pd" id="p1">
 <div class="inPd">
  <div class="pimage"><img src="./pics/watch1.png"></div>
  <article class="ptext">
      <p class="ptitle"> Navigation App on Smartwatch</p>
      <p class="ptech">Technologies used: HTML, JavaScript, Tizen, Android</p>
      <ul class="pdescription">
        <li>  Implemented a navigation application runs on Samsung smartwatch. The application can retrieve a list of restaurants, show the map of the users' current location, and can retrieve and navigate to the selected nearby restaurant.</li>
    <li>   Tile maps provided by Open Street Map API, list of restaurants provided by Yelp API, routing services provided by Google Directions. </li>      
      </ol>
  </article>
  </div>    
</div>


<div class="pd" id="p2">
 <div class="inPd">
  <div> project 2</div>
  <div>
    Since the scrollbar size is different between Mac and Windows (and even Internet Explorer 7 vs. other IE versions), this small but dynamic snippet is just what I needed to find the true content area of the container. Feel free to convert this JavaScript snippet into whatever JavaScript framework your prefer!      
  </div>
  </div>    
</div>
<div class="pd" id="p3">
 <div class="inPd">
  <div> project 3</div>
  <div>
    Since the scrollbar size is different between Mac and Windows (and even Internet Explorer 7 vs. other IE versions), this small but dynamic snippet is just what I needed to find the true content area of the container. Feel free to convert this JavaScript snippet into whatever JavaScript framework your prefer!      
  </div>
  </div>    
</div>
<div class="pd" id="p4">
 <div class="inPd">
  <div> project 4</div>
  <div>
    Since the scrollbar size is different between Mac and Windows (and even Internet Explorer 7 vs. other IE versions), this small but dynamic snippet is just what I needed to find the true content area of the container. Feel free to convert this JavaScript snippet into whatever JavaScript framework your prefer!      
  </div>
  </div>    
</div>
<div class="pd" id="p5">
 <div class="inPd">
  <div> project 5</div>
  <div>
    Since the scrollbar size is different between Mac and Windows (and even Internet Explorer 7 vs. other IE versions), this small but dynamic snippet is just what I needed to find the true content area of the container. Feel free to convert this JavaScript snippet into whatever JavaScript framework your prefer!      
  </div>
  </div>    
</div>
</div>

<div class="pe">
  <div><img id="totop" src="./pics/arrow.png"></div>       
</div>
