

<div class="YTcontainer">
  <youtube width="427" height="260" videoid="b8LVofHWGUU"></youtube>  
</div>
<div id="wrap">
  <div class="YTcontrol">
    <img id="playpause" src="{{availpics[controlpic]}}" ng-click="playpause()" style="cursor: pointer;">
  </div>
  <div class="D3container">
    <d3chart width="970" height="140" chart-data="covers" youtubeid="b8LVofHWGUU"></d3chart>
  </div>
  <div class="addCover">
    <img src="./images/siteuse/plus-circled.png" title="add new cover" style="cursor: pointer;" ng-click="div_show()">
  </div>
</div>

<div id="outshow">
  <div id="showcover" ng-repeat="cover in temparray">
      <div class="coverclass">
        <p>{{cover.artist}}</p>
        <p class="albumname">{{cover.name}}</p>
        <a href="{{cover.link}}" target="_blank">
          <img height="250" width="250" src="{{cover.pic}}"/>
        </a>      
      </div>
  </div>
</div>

<!-- Popup Div Starts Here -->
<div id="abc" ng-show="showform">

<!-- Contact Us Form -->
<div id="formfirst">
    <div id="formtitlediv">
      <p>Add New Cover</p>
    </div>
    <div id="formclosediv">
      <img id="close" src="images/siteuse/cancel-circle.png" style="cursor: pointer;" ng-click ="div_hide()">
    </div>
</div>
    
<form name="formindiv" id="formindiv" ng-submit="addCover()" ng-cloak novalidate>
        <input ng-model="artist"  name="artist" id="artist" placeholder="artist" type="text" required>
          <div ng-messages="formindiv.artist.$error" ng-if="submitted">
            <div ng-message="required">You forgot to enter artist...</div>
          </div>
          
        <input ng-model="name" name="name" id="name" placeholder="cover's name" type="text" required>
          <div ng-messages="formindiv.name.$error" ng-if="submitted">
            <div ng-message="required">You forgot to enter name...</div>
          </div>
          
        <input ng-model="starttime" name="starttime" placeholder="appear time (in second)" type="number" min="0" max="331" required> 
           <div ng-messages="formindiv.starttime.$error" ng-if="submitted" ng-messages-multiple>
            <div ng-message="required">You forgot to enter starttime...</div>
            <div ng-message="max">Too big!</div>
          </div>
        
        <input ng-model="endtime" name="endtime" placeholder="disappear time (in second)" type="number" ng-min="starttime" max="331" required>
          <div ng-messages="formindiv.endtime.$error" ng-if="submitted" ng-messages-multiple>
            <div ng-message="required">You forgot to enter endtime...</div>
            <div ng-message="min">Too small!</div>
            <div ng-message="max">Too big!</div>
          </div>
                  
        <textarea ng-model="link" name="link" id="link" placeholder="link" type="url"></textarea>
           <div ng-messages="formindiv.link.$error" ng-if="submitted">
             <div ng-message="url">Not valid url!</div>
           </div>
        <input ng-model="pic" type="file" file-model="pic" name="pic" placeholder="disappear">  
        <br>
        <!--<input type="submit" value="SUBMIT" />-->
        <button id="submitbutton" type="submit">ADD</button> 
</form>

</div>
<!-- Popup Div Ends Here -->
 