
html,body{
    position: relative;
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0; 
}

nav{
    background-color: black;/*#B03774;*/
    color: white;
    z-index: 5;
    position: fixed;
    width: 100%;
}

nav h1{
    margin: 0;
    padding-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    font-size: 24px;
    font-family: 'Oleo Script Swash Caps', cursive;
}

#searchBar{
    display: inline;
}

#showButton{
    padding-right: 2%;
    float: right;
}

#searchFormWrapper{
    width: 100%;
    clear: right;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #259291;
}

#searchForm{
    position: relative;
    width: 90%;
    left:5%;
    font-size: 0;
    border-radius: 0;
}

#inputText{
    font-size: 12px;
    width: calc(60% - 40px);
    margin: 0;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    padding: 11px 10px 8px 10px;
    border: none;
    border-bottom: solid 2px #969696;
    transition: border 0.3s;
}

#inputText:focus{
    outline: none;
    border-bottom: solid 2px black;
}

#searchB{
    width: 80px;
    height:36px;
    cursor: pointer;
    background-color: #585858;
    border-width: 0;
    border-radius: 0px;
    color:white;
    padding: 0;
    font-size: 14px;
    text-align: center;
}

#searchB:hover{
    background-color: black;    
}

#searchB:active{
    position: relative;
    top:1px;
}

#or{
    position: relative;
    width: 90%;
    left:5%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#searchByCurrent{
    position: relative;
    left:5%; 
    height:36px;
    cursor: pointer;
    background-color: #585858;
    border-width: 0;
    border-radius: 0px;
    color:white;
    padding: 5px 10px 5px 10px;
}

#searchByCurrent:hover{
    background-color: black;    
}

#searchByCurrent:active{
    position: relative;
    top:1px;
}

#container{
    position: relative;
    top:52px;
    width: 100%;
    height: calc(100% - 52px);
}

#firstWrapper{
    text-align: center;
    font-size: 30px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.first{
    position: relative;
    top:150px;
    display:inline-flex;
    display:-webkit-inline-flex;
    flex-direction:row;
    -webkit-flex-direction:row;
    align-items:center;
    -webkit-align-items:center;
}

.first div{
    margin-top:0;
    margin-right: 5px;
}

#resultWrapper{
    position: absolute;
    width: 100%;
    height: 100%;
}

#resultCover{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bolder;
    cursor: default;
}

#noCursor{
    cursor: default;
}

#selectWrapper{
    display:inline-flex;
    display:-webkit-inline-flex;
	width:100%;
    top:52px;
    height: 40px;
    justify-content:space-around;
    -webkit-justify-content:space-around;
    align-items:center;
    -webkit-align-items:center;
    z-index: 3;
    position: fixed;
    background-color: #259291;
}

.select{
    display: inline-block;
    width:24%;
    height: 30px;
    background: #9FD7C9;
    color: white;
    text-align:center;
    cursor: pointer;
    border-width: 0;
    border-radius: 10px;
    transition: all 0.2s;
}

.select:active{
    position: relative;
    top:1px;
}

.select.selectedTerm{
    background: black;
}

#contentWrapper{
    position: relative;
    width:100%;
    height: 100%;
    background-color: #259291;
}

#mapWrapper{
    position: fixed;
    width: 100%;
    top:52px;
    height: calc(100% - 52px);
    z-index: 1;
}

ng-map{
    width:100%;
    height: 100%;
}

.tag{
    position: relative;
    top:20px;
    width:20px;
    height:20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    background-color: #B03774;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.tag:active{
    top:21px;    
}

.selected .tag{
    position: relative;
    top:25px;
    padding: 5px;
    background-color: #9FD7C9;
    font-size: 18px;
    font-weight: bolder;
    color: #B03774;
}

.selected .tag:active{
    top:26px;    
}

#targetImg{
    width: 35px;
    height: auto;
}

#centerButton{
    position: fixed;
    top:110px;
    right:2%;
    z-index: 2;    
}

#centerButton img{
    width: 40px;
    height: auto;
    cursor: pointer;
}

#panelWrapper{
    position: absolute;
    top:0px;
    z-index: 2;
    width:calc(30% + 15px);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: white;    
}

#panelTop{
    position: fixed;
    z-index: 3;
    background-color: white;
    top:52px;
    width: calc(30% + 15px);
    left: 0%;
    height: 50px;
    display:inline-flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    display:-webkit-inline-flex;
    -webkit-flex-direction:row;
    -webkit-align-items:center;  
     -webkit-justify-content:space-between;
}

#direction{
    display: inline-block;
    height: 40px;
    line-height:40px;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 10px;
}

#closePanel{
    position: relative;
    width: 40px;
    height: 40px;
    background-color:#B03774;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 2%;
}

#closePanel:active{
    top:1px;
}

#closePanelLeft{
    position: relative;
    top: 18px;
    left:6px;
    width:28px;
    height:4px;
    background-color: white;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#closePanelRight{
    position: relative;
    top: 14px;
    left:7px;
    width:28px;
    height:4px;
    background-color: white;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#directions-panel{
    clear: right;
    position: relative;
    width: 90%;
    left: 5%;
    padding-top: 45px;    
}

#listWrapper{
    position: absolute;
    top:40px;
    z-index: 2;
    margin-left: 2%;
    width:30%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 0px;
    padding-bottom: 0px;
}

.list{
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
}

.list.closed{
    background-color: grey;
}

.up{
    width: 100%;
    display:inline-flex;
    flex-direction:row;
    align-items:center;
    display:-webkit-inline-flex;
    -webkit-flex-direction:row;
    -webkit-align-items:center;
}

.listIndex{
    width:20%;
    text-align: center;
    color: #B03774;/*#259291;*/
    font-weight: bolder;
    font-size: 30px;
    margin-right: 4px;
}

.upRight{
    width:80%;
    font-family: '  Bree Serif', serif;
    padding-left: 2%;
    font-size: 18px;
    font-weight: bolder;
}

.listDistance{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 100;
}

.listClosed{
    color:red;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.line{
    height: 1px;
    border-top: 2px solid black;
    margin-bottom: 4px;
}

.mid{
    position: relative;
    left: 5%;
    width: 90%;
    display:inline-flex;
    flex-direction:row;
    align-items:center;
    display:-webkit-inline-flex;
    -webkit-flex-direction:row;
    -webkit-align-items:center;
}

.listImgWrapper{
    width:30%;
    max-width: 100px;
    border-radius: 0%;
    overflow: hidden;
}

.listImgWrapper img{
    width: 100%;
    height: auto;
}

.listAdd{
    margin-left: 16px;
}

.down{
    position: relative;
    left: 5%;
    width: 90%;
    display:inline-flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    display:-webkit-inline-flex;
    -webkit-flex-direction:row;
    -webkit-align-items:center;
    -webkit-justify-content:space-between;
}

a{ 
    text-decoration:none;
}

.aWrapper{
    background-color: black;
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    color: white;
}

.gedDirection{
    cursor: pointer;
    border-style: solid;
    padding: 2px 3px 2px 3px;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    font-size:14px;
    
}

.gedDirection:active{
    position: relative;
    top:1px;
}


@media all and (max-width: 1134px) {
    .down{
        display: block;
    }
    
    .aWrapper{
        margin-top: 5px;
    }
    
    .gedDirection{
        margin-top: 5px;
    }
}

@media all and (max-width: 583px) {
    #mapWrapper{
        position: fixed;
        width: 100%;
        top:52px;
        height: 240px;
        z-index: 2;
    }

    #centerButton{
        top:100px;
        z-index: 3;    
    }    
    
    #panelWrapper{
        position: absolute;
        top:242px;
        z-index: 1;
        width:100%;   
    }
    
    #panelTop{
        top:292px;
        width:100%;
    }
    
    #listWrapper{
        position: absolute;
        top:242px;
        z-index: 1;
        width:100%;
        margin-left: 0;
        background-color: #259291;
    }  
}

@media all and (max-width: 420px) {
    #mapWrapper{
        position: fixed;
        width: 100%;
        top:52px;
        height: 190px;
        z-index: 2;
    }

    #centerButton{
        top:100px;
        z-index: 3;    
    }    
    
    #panelWrapper{
        position: absolute;
        top:192px;
        z-index: 1;
        width:100%;   
    }
    
    #panelTop{
        top:242px;
        width:100%;
    }
    
    #listWrapper{
        position: absolute;
        top:192px;
        z-index: 1;
        width:100%;
        margin-left: 0;
        background-color: #259291;
    }  
}
/****************************************/
.buttonBack{
    position: relative;
    width: 40px;
    height: 40px;
    background-color:#259291;
    margin-top: 6px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
}

.buttonBack.showForm{
    top:30px;
}

.buttonLeft{
    position: absolute;
    top:6px;
    left:6px;
    width: 12px;
    height:12px;
    border-radius: 50%;
    border-width:4px;
    border-style: solid;
    border-color: white;
    transition: all 0.2s;
}

.buttonLeft.showForm{
    top: 18px;
    left:6px;
    width:28px;
    height:4px;
    border-radius: 0;
    border-width: 0;
    background-color: white;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.buttonRight{
    position: absolute;
    top: 24px;
    left:20px;
    width:13px;
    height:4px;
    background-color: white;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: all 0.2s;
}

.buttonRight.showForm{
    top: 18px;
    left:6px;
    width:28px;
    height:4px;
}
