@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900italic);@import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);body {
  background: linear-gradient(to right, #F9FBCF, #FA9F9E);
  padding: 0;
  margin: 0; }

.navbar-default {
  margin: 0;
  border: none;
  background: linear-gradient(to right, #F9FBCF, #FA9F9E);
  padding-left: 2%; }
  .navbar-default .navbar-brand {
    color: #8F4F5D;
    font-size: 25px;
    font-family: 'Abril Fatface', cursive; }
  .navbar-default .navbar-toggle {
    border: none;
    background: transparent !important; }
    .navbar-default .navbar-toggle:hover {
      background: transparent !important; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #8F4F5D;
      width: 22px;
      transition: all 0.2s; }
    .navbar-default .navbar-toggle .top-bar {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 10% 10%;
      transform-origin: 10% 10%; }
    .navbar-default .navbar-toggle .middle-bar {
      opacity: 0; }
    .navbar-default .navbar-toggle .bottom-bar {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 10% 90%;
      transform-origin: 10% 90%; }
  .navbar-default .navbar-toggle.collapsed .top-bar {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  .navbar-default .navbar-toggle.collapsed .middle-bar {
    opacity: 1; }
  .navbar-default .navbar-toggle.collapsed .bottom-bar {
    -webkit-transform: rotate(0);
    transform: rotate(0); }

#navbar .liWrapper li {
  font-size: 20px; }

.footer {
  background-color: #77777F;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: aliceblue; }
  .footer .facebook {
    margin-top: 5px; }
    .footer .facebook img {
      width: 20px; }

.homeWrapper {
  padding-bottom: 25px;
  font-size: 40px;
  position: relative;
  width: 90%;
  left: 5%;
  overflow: hidden;
  margin-top: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .homeWrapper {
      display: block; } }
  .homeWrapper .sbcwaTitle {
    width: 40%;
    margin-right: 5%;
    color: black;
    text-align: left;
    font-size: 50px;
    font-family: 'cwTeXFangSong', 'Playfair Display', serif;
    font-weight: bolder; }
    .homeWrapper .sbcwaTitle :last-child {
      color: #8F4F5D; }
    @media screen and (max-width: 768px) {
      .homeWrapper .sbcwaTitle {
        font-size: 36px;
        width: 100%; } }
  .homeWrapper .sbcwaInfo {
    width: 50%; }
    .homeWrapper .sbcwaInfo img {
      max-width: 100%;
      height: auto; }
    @media screen and (max-width: 768px) {
      .homeWrapper .sbcwaInfo {
        padding-top: 20px;
        width: 100%; } }

.socialWrapper {
  margin: 0;
  padding: 30px;
  text-align: center;
  background-color: none; }
  .socialWrapper .socialTitle {
    font-size: 32px; }
  .socialWrapper .memberList .eachMember {
    margin-top: 20px; }
    .socialWrapper .memberList .eachMember img {
      max-width: 100%;
      height: auto; }

.eventWrapper {
  margin: 0;
  width: 90%;
  margin-left: 5%; }
  .eventWrapper .eachEvent {
    width: 100%;
    margin-top: 20px; }
    .eventWrapper .eachEvent .eventTitle {
      font-size: 20px;
      font-weight: bolder;
      margin-bottom: 20px; }
    .eventWrapper .eachEvent .eventImgsWrapper {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .eventWrapper .eachEvent .eventImgsWrapper div img {
        max-width: 100%;
        max-height: 300px;
        margin-left: 15px;
        margin-bottom: 15px; }

.formWrapper {
  padding: 30px; }
  .formWrapper input {
    margin-bottom: 20px; }
